<div id="canvas-container">
    <canvas
        id="canvas"
        #baseCanvas
        [attr.width]="width"
        [attr.height]="height"
        (mouseleave)="onMouseLeave($event)"
        (mouseenter)="onMouseEnter($event)"
        (mousedown)="onMouseDown($event)"
        (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp($event)"
    ></canvas>
    <canvas
        id="previewLayer"
        #previewCanvas
        [attr.width]="width"
        [attr.height]="height"
        (mouseleave)="onMouseLeave($event)"
        (mouseenter)="onMouseEnter($event)"
        (mousedown)="onMouseDown($event)"
        (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp($event)"
    ></canvas>
    <canvas
        id="selectionLayer"
        #selectionCanvas
        class="selectionCanvas"
        [attr.width]="widthSelection"
        [attr.height]="heightSelection"
        (mouseleave)="onMouseLeave($event)"
        (mouseenter)="onMouseEnter($event)"
        (mousedown)="onMouseDown($event)"
        (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp($event)"
    ></canvas>
    <canvas
        id="gridLayer"
        #gridCanvas
        class="gridCanvas"
        [attr.width]="width"
        [attr.height]="height"
        (mouseleave)="onMouseLeave($event)"
        (mouseenter)="onMouseEnter($event)"
        (mousedown)="onMouseDown($event)"
        (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp($event)"
    ></canvas>
    <canvas
    id="textLayer"
    #gridCanvas
    class="textCanvas"
    [attr.width]="width"
    [attr.height]="height"
    (mouseleave)="onMouseLeave($event)"
    (mouseenter)="onMouseEnter($event)"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp($event)"
></canvas>

</div>
